.container{
    margin-top: 15px;
}

#storeName{
    font-family: 'Baloo Thambi 2', cursive;
    margin-left: 20px;
}

#modeLabel{
    margin-right: 32px;
}

#storeItems{
    margin-bottom: 20px;
}

#storeItems img{
    height: 300px;
    width: 100%;
}

#card{
    margin-bottom: 40px;
    margin-top: 20px;
}

#card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    /* Styles */
    
    #storeItems img{
        height: 200px;
        width: 180px;
    }

}

@media only screen 
and (min-device-width : 576px) 
and (max-device-width : 767px) {
    /* Styles */
    
    

}

@media only screen 
and (min-device-width : 345px) 
and (max-device-width : 575px) {
    /* Styles */
    
    #storeItems img{
        height: auto;
    }

}

#infoBtn{
    margin: 5px;
}