.container{
    margin-top: 15px;
}

#storeName{
    font-family: 'Baloo Thambi 2', cursive;
    margin-left: 20px;
}

#modeLabel{
    margin-right: 32px;
}

#storeItems{
    margin-bottom: 20px;
}

#storeItems img{
    height: 300px;
    width: 100%;
}

#card{
    margin-bottom: 40px;
    margin-top: 20px;
}

#card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#btnLess, #btnMore{
    height: 40px;
    width: 40px;
}

#modeButtons {
    margin-top: 20px;
    margin-bottom: 20px;
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    
    #storeItems img{
        height: 200px;
        width: 200px;
        align-self: center;
    }

}

@media only screen 
and (min-device-width : 576px) 
and (max-device-width : 767px) {
    
    

}

@media only screen 
and (min-device-width : 345px) 
and (max-device-width : 575px) {

    #modeButtons {
        display: flex;
        flex-direction: column-reverse;
    }
    
    #storeItems img{
        height: auto;
    }

    #viewCart {
        width: 100px;
    }

    #dropdownMenuButton1 {
        width: 80px;
    }
    
    #th0 {
        display: none;
    }
    
    .w-25 {
        display: none;
    }
}


#infoBtn{
    margin: 5px;
}